html, h1, img, body {
  background-color: #a1c181;
}

img {
  display: flex;
  width: 20%;
}

#text-area {
  display: flex;
  width: 40%;

}

li {
  background-color: azure;
  list-style-type: none;
  padding: 5px;
  margin:2px;
  
}

.change-devoured[data-newdevoured='true']{
  background-color: red;
}

form, .container {
  margin-top: 30px;
}